@import url(//db.onlinewebfonts.com/c/4b5ae315f5df148f0ab479a7cedc9832?family=ISOCPEUR);
@import url(https://fonts.googleapis.com/css2?family=Chonburi&display=swap);

@font-face {font-family: "ISOCPEUR"; src: url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.eot"); 
    src: url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.svg#ISOCPEUR") format("svg"); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    text-decoration: none;
}

/* Fix positioning of headers when using links in combination with fixed navbar */

html {
    scroll-padding-top: 60px;
}

h1{
    font-family: 'Chonburi', sans-serif;
    text-transform: uppercase;
    color: #cfc3c3;
    background-color: #4B5B2E;
    font-size: 55px;
    margin: 0 auto;
    padding: 25px;
}

h2 {
    font-family: 'Chonburi', sans-serif;
    text-transform: uppercase;
    color: #cfc3c3;
    background-color: #4B5B2E;
    font-size: 42px;
    margin: 0 auto;
    padding: 25px;
}

h3 {
    font-family: 'Chonburi', sans-serif;
    text-transform: uppercase;
    color: #4B5B2E;
    font-size: 22px;
    margin: 0 auto;
    padding: 25px;
}

li {
    font-family: 'Chonburi', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
}

p {
    font-family: "ISOCPEUR", sans-serif;
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #cfc3c3;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #cfc3c3;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: #4B5B2E;
    font-weight: 500;
    width: 45%;
    background-color: #cfc3c3;
    font-size: 20px;
}

.logo {
    height: 60px;
    cursor: pointer;
}

.nav-logo {
    background-color: #cfc3c3;
    margin-left: 20px;
}

.nav-logo a {
    background-color: rgba(0, 0, 0, 0);;
}

.nav-links li {
    background-color: #cfc3c3;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    background-color: #cfc3c3;
    font-size: 20px;
    color: #4B5B2E;
}

.nav-links li a:hover {
    color: white;
}

.nav-btn {
    background-color: #cfc3c3;
}

.cta {
    font-family: "ISOCPEUR", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

button {
    padding: 9px 25px;
    margin: 0 25px;
    background-color: rgba(75, 91, 46, 1);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(75, 91, 46, 0.8);
}

.burger-nav {
    display: none;
    cursor: pointer;
    margin: 0 25px;
    background-color: #cfc3c3;
}

.burger-nav div {
    width: 25px;
    height: 4px;
    margin: 5px;
    background-color: #4B5B2E;
}

.toggle .line-top {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-mid {
    opacity: 0;
}

.toggle .line-bottom {
    transform: rotate(45deg) translate(-6.5px, -7.5px);
}

.landing {
    display: flex;
    align-items: center;
    height: 100vh;
}

.landing-showcase {
    position:absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height:calc(100vh - 60px);
    overflow: hidden;
}

.landing-showcase video {
    display: block;
    position: absolute;
    margin-top: 60px;
    left: 50%;
    top: calc(50% - 60px);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.company-info {
    display: grid;
    grid-template-areas: 
        "company-logo company-info";
    gap: 40px;
}

.company-info img {
    grid-area: company-logo;
    padding: 15px 0px 15px 150px;

}

.company-info p {
    grid-area: company-info;
    padding: 15px 60px 15px 35px;
    font-size: 20px;
}

.headings {
    text-align: center;
    background-color: #4B5B2E;
    letter-spacing: 2px;
}

.sub-headings {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.info li {
    font-family: "ISOCPEUR", sans-serif;
    text-transform: none;
}

.info img {
    width: 300px;
}

.project-container1 {
    display: grid;
    grid-template-areas: 
        "slides-outer1 slides-outer1 p-slide1";
    gap: 18px 18px;
}

.project-container2 {
    display: grid;
    grid-template-areas: 
        "p-slide2 slides-outer2 slides-outer2";
    gap: 18px 18px;
}

.project-container3 {
    display: grid;
    grid-template-areas: 
        "slides-outer3 slides-outer3 p-slide3";
    gap: 18px 18px;
}

.slides-inner {
    width: 100%;
    overflow: hidden;
    padding: 40px;
}

.slides-inner img {
    width: 100%;
    padding: 15px;
} 

.slides-inner video {
    width: 100%;
    padding: 15px;
} 

#slides-outer1 {
    grid-area: slides-outer1;
}

#slides-outer2 {
    grid-area: slides-outer2;
}

#slides-outer3 {
    grid-area: slides-outer3;
}

#p-slide1 {
    grid-area: p-slide1;
    align-self: center;
    padding: 10px;
    margin-right: 20px;
}

#p-slide2 {
    grid-area: p-slide2;
    align-self: center;
    padding: 10px;
    margin-left: 20px;
}

#p-slide3 {
    grid-area: p-slide3;
    align-self: center;
    padding: 10px;
    margin-left: 20px;
}

.services {
    display: grid;
    grid-template-areas: 
        "service1 service2 service3 service4";
    grid-template-columns: repeat(4, 1fr);
    gap: 18px 18px;
    margin: 0 30px;
}

.service1 {
    grid-area: service1;
}

.service2 {
    grid-area: service2;
}

.service3 {
    grid-area: service3;
}

.service4 {
    grid-area: service4;
}

[class*="service"] h3 {
    height: 125px;
    padding: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.form-field {
    margin-top: 25px;
    width: 50%;
    line-height: 1.5;
}

.form-field label {
    font-family: "ISOCPEUR", sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.input-field input {
    font-family: "ISOCPEUR", sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.form-control {
    width: 100%;
}

.form-button {
    align-self: flex-end;    
    padding: 20px 0;
    margin-right: 23%;
}

footer {
    bottom: 0;
    width: 100%;
    padding-top: 25px;
    background-color: #4b5b2e;
}

footer p {
    font-family: "ISOCPEUR", sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: rgba(75, 91, 46, 1);
    color: #cfc3c3;
    list-style: none;
}

.footer-links {
    font-family: 'Chonburi', sans-serif;
    font-size: 20px;
    background-color: rgba(75, 91, 46, 1);
    color: #cfc3c3;
    list-style: none;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #4b5b2e;
}

.footer-links:hover {
    color: white;
}

.social {
    background-color: #4B5B2E;

}

.social a, i{
    background-color: #4B5B2E;
    color: #cfc3c3;
    font-size: 32px;
    margin-right: 5px;
    transition: all 0.3s ease 0s;
}

.social i:hover {
    color: white;
}

.copyright {
    text-align: center;
}

.copyright p {
    margin: 0;
    padding: 10px;
    font-size: 15px;
    background-color: #4B5B2E;
}

/* For laptop screens */

@media screen and (max-width: 1920px) {

    .nav-links {
        width: 65%;
    }

    .company-info img {
        grid-area: company-logo;
        padding: 15px 0px 15px 60px;
    }
    
    .company-info p {
        grid-area: company-info;
        padding: 15px 30px 15px 0px;
        font-size: 20px;
    }

    .services {
        grid-template-areas: 
            "service1 service2"
            "service3 service4";
        grid-template-columns: repeat(2, 1fr);
        margin: 0 20px;
        gap: 14px 14px;
    }

    .slides-inner {
        padding: 10px;
    }

}

/* For tablet screens */

@media screen and (max-width: 768px) {

    header {
        height: 50px;
    }

    h1{    
        font-size: 38px;
        padding: 14px 5px;
    }

    h2 {
        font-size: 35px;
        padding: 18px;
    }
    
    h3 {
        font-size: 18px;
        padding: 10px;
    }

    [class*="service"] h3 {
        height: 50px;
        padding: 10px;
    }

    nav {
        justify-content: flex-end;
        
    }

    .nav-logo {
        justify-self: flex-start;
    }

    .logo {
        height: 50px;
    }

    .nav-links {
        transform: translateX(100%);
        transition: all 0.3s ease 0s;
        flex-direction: column;
        align-content: center;
        align-items: center;
        position: absolute;
        justify-content: space-around;
        right: 0;
        top: 50px;
        height: calc(100vh - 50px);
        width: 35%;
        background-color: #4B5B2E;
    }
    
    .nav-links li {
        background-color: #4B5B2E;
        
    }
    
    .nav-links li a {
        color: #cfc3c3;
        background-color: #4B5B2E;
        font-size: 15px;
    }

    button {
        margin: 0;
    }

    .cta {
        font-size: 16px;
    }

    .burger-nav {
        display: block;
        background-color: #cfc3c3;
    }

    .burger-nav-active {
        transform: translateX(0%);
    }

    .landing-showcase {
        top: 50px;
        height:calc(100vh - 50px);
    }
    
    .landing-showcase video {
        margin-top: 50px;
        top: calc(50% - 50px);
    }

    .company-info {
        grid-template-areas: 
            "company-logo"
            "company-info";
        gap: 20px;
    }
    
    .company-info img {
        justify-self: center;
        padding: 15px 25px 0px 25px;
        /* width: 300px; */
    
    }
    
    .company-info p {
        text-align: center;
        padding: 0 25px 15px 25px;
        font-size: 17px;
    }
    
    .info {
        width: 75%;
    }

    .project-container1 {
        display: grid;
        grid-template-areas: 
        "slides-outer1"
        "p-slide1";
        gap: 0 0;
    
    }
    
    .project-container2 {
        display: grid;
        grid-template-areas: 
        "slides-outer2"
        "p-slide2";
        gap: 0 0;
    
    }

    .project-container3 {
        display: grid;
        grid-template-areas: 
        "slides-outer3"
        "p-slide3";
        gap: 0 0;
    
    }

    .p-slide {
        text-align: center;
        margin: 0 20px;
        padding: 0;
    }

    #p-slide2 {
        margin-bottom: 20px;
    }

    .services {
        
        grid-template-areas: 
            "service1" 
            "service2"
            "service3"
            "service4";
        grid-template-columns: repeat(1, 1fr);
        gap: 0 0;
    }

    .info img {
        width: 65%;
    }

    .form-field {
        width: 80%;
        
    }
    
    footer {
        margin: 20px 0 0 0;
    }

    .footer-links {
        font-size: 16px;
    }

}

/* For smartphone screens */

@media screen and (max-width: 480px) {

    h1{    
        font-size: 30px;
        padding: 14px 0;
    }

    h2 {
        font-size: 25px;
        padding: 14px;
    }
    
    h3 {
        font-size: 14px;
        padding: 18px;
    }

    p, li {
        font-size: 14px;
        line-height: 1.5;
    }
    
    p {
        margin-bottom: 20px;
    }
    
    .company-info img {
        justify-self: center;
        padding: 15px 25px 0px 25px;
        width: 300px;
    
    }
    
    .company-info p {
        text-align: center;
        padding: 0 25px 15px 25px;
        font-size: 17px;
    }

    form {
        height: 85vh;
    }

    .form-field {
        margin-top: 20px;
        width: 70%;
    }
    
    .form-field label {
        font-size: 18px;
    }
    
    .input-field input {
        font-size: 18px;
    }

    .form-button {
        margin-right: 15%;
    }

    .footer-links {
        font-size: 12px;
        line-height: 1.8;
    }

    
    .social, a, i{
        margin-right: 1px;
        font-size: 22px;
    }

    .copyright p {
        
        font-size: 12px;
    }
    
}